{% extends "base.html" %}


{% block body %}
    {{ cuser.first_name + " " + cuser.last_name + " " + cuser.email }}
    <div>
        <a href="{{ url_for('logout') }}">Logout</a>
    </div>
    <br/>
    <br/>
    {% for user in users %}
        <div>
            <a href="/user/{{ user._id }}">{{ user.first_name }} {{ user.last_name }}</a>
        </div>
    {% endfor %}


{% endblock %}