{% extends "base.html" %}

{% block body %}

    <div class="layout-transparent mdl-layout mdl-js-layout">
        <header class="mdl-layout__header mdl-layout__header--transparent">

        </header>
        <main class="demo-main mdl-layout__content">
            <div class="demo-container mdl-grid ">
                <div class="mdl-cell mdl-cell--2-col mdl-cell--hide-tablet mdl-cell--hide-phone"></div>
                <div class="demo-content mdl-color--white mdl-shadow--4dp content mdl-color-text--grey-800 mdl-cell mdl-cell--8-col">



                    <form action="{{ url_for('create_password') }}" autocomplete="off"
                          method="POST">
                        <div>
                            <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                                <input class="mdl-textfield__input" maxlength="" type="password" name="new_password"
                                       id="new_password"
                                       required/>
                                <label class="mdl-textfield__label" for="email">New Password</label>
                            </div>
                        </div>

                        <div>
                            <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                                <input class="mdl-textfield__input" maxlength="" type="password" name="conf_password"
                                       id="conf_password"
                                       required/>
                                <label class="mdl-textfield__label" for="email">Confirm Password</label>
                            </div>
                        </div>
                        <div>
                            <!-- Accent-colored raised button with ripple -->
                            <button style="margin-right: 30px" type="submit" id="login"
                                    class="mdl-button mdl-js-button mdl-button--raised mdl-button--accent">
                                Create Password
                            </button>

                        </div>
                    </form>
                </div>
            </div>
        </main>
    </div>
    <script src="/static/js/init.js"></script>
{% endblock %}