{% extends "grinions-base.html" %}


{% block page_title %}
    Your Events
{% endblock %}


{% block main_content %}

    <table class="mdl-data-table mdl-js-data-table mdl-data-table--selectable  mdl-shadow--2dp" >
        <thead>
        <tr>
            <td> Event Name</td>
            <td> Target</td>
            <td> Ends </td>
        </tr>
        </thead>

        {% if events %}
            {% for event in events %}

                <tr>
                    <td> <a href="{{ url_for('view_event', eventid=event._id ) }}"> {{ event.event_name }} </a></td>
                    <td>{{ event.target_amt }} </td>
                    <td>{{ event.ends_by.strftime('%d-%b-%Y') }} </td>
                </tr>


            {% endfor %}
        {% endif %}
    </table>

{% endblock %}