{% extends "grinions-base.html" %}
{% block page_title %}
    Create Event
{% endblock %}

{% block main_content %}

     <form action="{{ url_for('need_auth') }}" method="POST" id="create_event_form">
        <table>
            <tr><td>
                <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label" id="div1">
                    <input class="mdl-textfield__input" type="text" id="event_name" name="event_name" required/>
                    <label class="mdl-textfield__label" for="event_name">Event Name</label>
                </div>
            </td></tr>

            <tr><td>
                <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label" id="div2">
                    <textarea class="mdl-textfield__input" type="text" rows= "3" id="event_desc"  name="event_desc"  required></textarea>
                    <label class="mdl-textfield__label" for="event_desc">Event Description</label>
                </div>
            </td></tr>

            <tr><td>
                <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label" id="div3">
                    <input class="mdl-textfield__input" type="text" pattern="-?[0-9]+(\.[0-9]+)?" id="contri_amt" name="contri_amt"  required/>
                    <label class="mdl-textfield__label" for="contribution">Each person contributes</label>
                    <span class="mdl-textfield__error">Valid amount required!</span>
                </div>
            </td></tr>
            <tr><td>
                <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label " id="div4">
                    <input class="mdl-textfield__input" type="text" pattern="-?[0-9]+(\.[0-9]+)?"  id="target_amt" name="target_amt"  required />
                    <label class="mdl-textfield__label" for="target">Target Contribution</label>
                    <span class="mdl-textfield__error">Valid amount required!</span>
                </div>
            </td></tr>
            <tr><td>
                <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label" id="div5">
                    <input class="mdl-textfield__input" type="text" pattern="-?[0-9]+(\.[0-9]+)?" id="days-to-complete" name="days-to-complete" required />
                    <label class="mdl-textfield__label" for="target">Days To Completion</label>
                    <span class="mdl-textfield__error">Valid no of days required!</span>
                </div>
            </td></tr>
            <tr><td>
                <button type="submit" class="mdl-button mdl-button--colored mdl-button--accent
               mdl-js-button mdl-js-ripple-effect mdl-button--raised" id="button">Create Event</button>
            </td></tr>
        </table>
    </form>

    {% if not current_user.is_authenticated%}
        <script>var logged = 0;</script>
    {% else %}
        <script>var logged = 1;</script>
    {% endif %}


    <script src="/main/static/js/init.js"></script>

    <script>
        $("#div2").hide();
        $("#div3").hide();
        $("#div4").hide();
        $("#div5").hide();
        $("#button").hide();

        $("#event_name").keyup(function(){
            $("#div2").fadeIn(2000);
        });
        $("#event_desc").keyup(function(){
            $("#div3").fadeIn(2000);
        });
        $("#contri_amt").keyup(function(){
            $("#div4").fadeIn(2000);
        });
        $("#target_amt").keyup(function(){
            $("#div5").fadeIn(2000);
        });
        $("#days-to-complete").keyup(function(){
            $("#button").fadeIn(2000);
        });


        if(logged) {

            $("#create_event_form").submit(function (e) {
                e.preventDefault();
                console.log("Create Event");
                var event_name = $("#event_name").val();
                var event_desc = $("#event_desc").val();
                var target_amt = $("#target_amt").val();
                var split_type = $("#split_type").val();
                var contri_amt = $("#contri_amt").val();
                var days_to_complete = $("#days-to-complete").val();
                var ends_by = (Date.now() + days_to_complete * 24 * 60 * 60 * 1000) / 1000;//seconds since epoch
                var isprivate = false; // no public events for now

                // 0 - Alteast, 1- Exactly, 2- Any Amt
                var data = {
                    event_name: event_name,
                    event_desc: event_desc,
                    target_amt: target_amt,
                    split_type: 1,
                    contri_amt: contri_amt,
                    ends_by: ends_by,
                    isprivate: isprivate
                };

                console.log(data);

                    $.ajax({
                        type: "POST",
                        dataType: "JSON",
                        url: "{{ url_for('api_create_event') }}",
                        data: data,
                        success: function (result) {
                            //$('#result').html(result);
                            console.log(result.event_id);

                            setTimeout(function () {

                                window.location.href = "/event/" + result.event_id;
                            }, 0);

                        },
                        error: function (result) {
                            //$('#result').show();
                            $('#result').html(result.responseJSON);
                            console.log(result.responseJSON);

                        }
                    });
            });
        }

    </script>


{% endblock %}