<!doctype html>
<!--
  Material Design Lite
  Copyright 2015 Google Inc. All rights reserved.

  Licensed under the Apache License, Version 2.0 (the "License");
  you may not use this file except in compliance with the License.
  You may obtain a copy of the License at

      https://www.apache.org/licenses/LICENSE-2.0

  Unless required by applicable law or agreed to in writing, software
  distributed under the License is distributed on an "AS IS" BASIS,
  WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  See the License for the specific language governing permissions and
  limitations under the License
-->
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="The easiest way to pool money and make great things happen.">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %} {% endblock %}</title>

    <!-- Add to homescreen for Chrome on Android -->
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="theme-color" content="#FF8000">
    <link rel="icon" type="image/png" href="/images/logo_gr_small.png" sizes="192x192">

    <!-- Add to homescreen for Safari on iOS -->
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="#FF8000">
    <meta name="apple-mobile-web-app-title" content="Grinions">
    <link rel="apple-touch-icon-precomposed" href="/static/images/logo_gr_small.png">

    <!-- Tile icon for Win8 (144x144 + tile color) -->
    <meta name="msapplication-TileImage" content="/static/images/logo_gr_small.png">
    <meta name="msapplication-TileColor" content="#FF8000">

    <!-- SEO: If your mobile URL is different from the desktop URL, add a canonical link to the desktop page https://developers.google.com/webmasters/smartphone-sites/feature-phones -->
    <!--
    <link rel="canonical" href="http://www.example.com/">
    -->

    <link href="https://fonts.googleapis.com/css?family=Roboto:regular,bold,italic,thin,light,bolditalic,black,medium&amp;lang=en"
          rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="/static/css/material.min.css" media="screen,projection">
    <link rel="stylesheet" href="/static/css/base_styles.css" media="screen,projection">
    <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.4.min.js"></script>

</head>
<body>
<div class="demo-layout mdl-layout mdl-js-layout mdl-layout--fixed-drawer mdl-layout--fixed-header">
    <!-- HEADER -->
    <header class="demo-header mdl-layout__header mdl-color--grey-100 mdl-color-text--grey-600">
        <div class="mdl-layout__header-row">
            <span class="mdl-layout-title">{% block page_title %} {% endblock %}</span>
            <div class="mdl-layout-spacer"></div>

            {% if user %}
                <a href="{{ url_for('logout') }}" class="mdl-navigation__link mdl-color--amber-A400">Log Out</a>
            {% else %}
                <a href="{{ url_for('login') }}" class="mdl-navigation__link mdl-color--green-400 ">Log In</a>
            {% endif %}
        </div>
    </header>

    <!-- DRAWER -->
    <div class="demo-drawer mdl-layout__drawer mdl-color--blue-grey-900 mdl-color-text--blue-grey-50">
        <!-- drawer header - user pic and id -->

        <header class="demo-drawer-header">
            {% if user %}
                <img src="/static/images/UnknownProfile.png" {# should be user.picture #} class="demo-avatar">
                <div class="demo-avatar-dropdown">
                    <span>{{ user.first_name+" "+user.last_name }}</span>
                    <div class="mdl-layout-spacer"></div>
                    <button id="accbtn" class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--icon">
                        <i class="material-icons" role="presentation">arrow_drop_down</i>
                        <span class="visuallyhidden">Accounts</span>
                    </button>
                    <ul class="mdl-menu mdl-menu--bottom-right mdl-js-menu mdl-js-ripple-effect" for="accbtn">
                        <li class="mdl-menu__item">{{ user.email }}</li>
                    </ul>

                </div>
            {% else %}
                <img src="/static/images/UnknownProfile.png" class="demo-avatar">
                <div class="demo-avatar-dropdown">
                    <span>Guest User</span>
                    <div class="mdl-layout-spacer"></div>
                    <button id="accbtn" class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--icon">
                        <i class="material-icons" role="presentation">arrow_drop_down</i>
                        <span class="visuallyhidden">Accounts</span>
                    </button>
                    <ul class="mdl-menu mdl-menu--bottom-right mdl-js-menu mdl-js-ripple-effect" for="accbtn">
                        <li class="mdl-menu__item"> please log in for details</li>
                    </ul>
                </div>
            {% endif %}
        </header>

        <!-- drawer links -->
        <nav class="demo-navigation mdl-navigation mdl-color--blue-grey-800">
            {% if user %}
                <a class="mdl-navigation__link" href="{{ url_for( "user_profile", userid=user.get_id()) }}"><i
                        class="mdl-color-text--blue-grey-400 material-icons" role="presentation">home</i>Home</a>
                <a class="mdl-navigation__link"
                   href="{{ url_for( "get_all_events_of_a_user", userid=user.get_id() ) }}"><i
                        class="mdl-color-text--blue-grey-400 material-icons" role="presentation">inbox</i>My Events</a>
                <a class="mdl-navigation__link" href="{{ url_for( "view_create_event" ) }}"><i
                        class="mdl-color-text--blue-grey-400 material-icons" role="presentation">add_to_queue</i>Create
                    Events</a>
                <a class="mdl-navigation__link" href="{{ url_for("newsfeed") }}">
                <i class="mdl-color-text--blue-grey-400 material-icons" role="presentation">public</i>Newsfeed</a>

            {% else %}
                <a class="mdl-navigation__link" href="{{ url_for( "login" ) }}">Log In</a>
            {% endif %}
            <div class="mdl-layout-spacer"></div>
            <a class="mdl-navigation__link" href=""><i class="mdl-color-text--blue-grey-400 material-icons"
                                                       role="presentation">help_outline</i><span class="visuallyhidden">Help</span></a>
        </nav>
    </div>

    <!-- CONTENT -->
    <main class="mdl-layout__content" style="align-self: center">
        <div class="mdl-grid demo-content">
            {% block main_content %} {% endblock %}
        </div>
    </main>
</div>
<script src="/static/js/material.min.js"></script>
</body>
</html>
