{% extends "grinions-base.html" %}

{% block page_title %}
    Howdy!
{% endblock %}

{% block main_content %}
<div class="demo-updates mdl-card mdl-shadow--2dp mdl-cell mdl-cell--4-col mdl-cell--4-col-tablet mdl-cell--12-col-desktop">
            <div class="mdl-card__title mdl-card--expand mdl-color--teal-300">
              <h2 class="mdl-card__title-text">Welcome to Grinions!</h2>
            </div>
            <div class="mdl-card__supporting-text mdl-color-text--grey-600">

              The easiest way to pool money and make great things happen.
              Let's get started with your quest!.
            </div>
            <div class="mdl-card__actions mdl-card--border">
              <a href="{{ url_for("view_create_event") }}" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect">Get Started</a>
            </div>
          </div>



{% endblock %}