{% extends "grinions-base.html" %}

{% block page_title %}
    User Profile
{% endblock %}


{% block main_content %}
<style>
#profile_pic{
  padding:0px;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    align-self: center;


}
table{
    font-family: Roboto,sans-serif;
    color: #595959;
    font-size: 16px;
    padding: 5px;
    font-weight: 300;
    border-spacing: 20px;
        }
#content{
    font-size: 18px;
    font-weight: 500;




}
</style>

 <div class="mdl-card mdl-shadow--4dp mdl-card--border">

 <div class="mdl-card__title mdl-color--teal-200 mdl-card--border">
            {% if is_me %}
        <h4 class="mdl-card__title-text">My Profile </h4>
    {% else %}
        <h4 class="mdl-card__title-text">{{ user.first_name }}'s Profile</h4>
    {% endif %}
        </div>
        <div class="mdl-card__supporting-text">

        {# TODO: render it in proper format #}

            <img id="profile_pic" src="../static/images/UnknownProfile.png"  border="0"><br><br>
            <table>
            <tr><td>First Name :</td> <td id="content">{{ user.first_name }}</td> </tr>
                
           <tr><td> Last Name :  </td> <td id="content">{{ user.last_name }}</td> </tr>
                
           <tr> <td>Email :   </td> <td id="content">  {{ user.email }}</td> </tr>
                
            <tr><td>Gender :  </td> <td id="content">   {{ user.gender }}</td> </tr>
                
           <tr><td> DOB :      </td> <td id="content"> {{ user.dob }}</td> </tr>
                
           <tr><td> Country : </td> <td id="content">  {{ user.country }}</td> </tr>
                
            </table>

</div>
</div>
{% endblock %}
