{% extends "grinions-base.html" %}

{% block page_title %}
    Event Details
{% endblock %}

{% block main_content %}

    <div class="mdl-card mdl-shadow--4dp mdl-color--blue-grey-50">
        <div class="mdl-card__title">
            <h2 class="mdl-card__title-text" id="event_name"
                style="font-weight: 400; font-family:Roboto, sans-serif">{{ event.event_name }}</h2>
        </div>
        <div class="mdl-card__media" style="padding-left: 0px">
            <img id="event_pic" src="../static/images/people.jpeg" width="100%" height="100%" border="0" alt=""
                 style="padding:0px; max-height: 200px">
        </div>
        <div class="mdl-card__supporting-text">
            <span id="event_desc" style="font-weight: 500">{{ event.event_desc }}</span> <br><br>

            Started by <span id="creator_name">{{ event_stats.creator_name }}</span> <br><br>

            Contribution Amount: Rs <span id="contri_amt">{{ event.contri_amt }}</span> <br><br>


            Collection Progress ( Target: Rs <span id="col_target">{{ event.target_amt }}</span> )
            <div id="collection_progress" class="mdl-progress mdl-js-progress" style="width: 85%;"></div>
            <br>

            Drive Progress ( Ends: <span id="end_date">{{ event.ends_by.strftime('%d-%b-%Y') }}</span> )
            <div id="drive_progress" class="mdl-progress mdl-js-progress" style="width: 85%;"></div>


        </div>

        <div class="mdl-card__actions">
            {% if not contributed %}
                <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent"
                        id="contri-button">
                    Contribute
                </button>
            {% else %}
                <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent mdl-button--disabled"
                        id="contri-button">
                    Contributed
                </button>
            {% endif %}
            <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent"
                    id="invite-button">
                Invite
            </button>


            <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent"
                    id="share-button">
                Share
            </button>


        </div>
    </div>
    <script language="javascript">
        document.querySelector("#collection_progress").addEventListener('mdl-componentupgraded', function () {
            this.MaterialProgress.setProgress({{ event_stats.total_contribution/event.target_amt*100 }});
        })
        document.querySelector("#drive_progress").addEventListener('mdl-componentupgraded', function () {
            this.MaterialProgress.setProgress({{ event_stats.time_progress }});
        })

        $(document).ready(
                $("#invite-button").click(function () {
                    var email_id = prompt("Please enter your friend's email address");
                    if (email_id != null) {
                        var erdata = {
                            email_id: email_id,
                            event_id: "{{event._id}}",
                            event_name: "{{event.event_name}}"
                        };
                        console.log("Invite : " + email_id);
                        $.ajax({
                            type: "GET",
                            dataType: "json",
                            url: "{{ url_for('invite') }}",
                            data: erdata,
                            statusCode: {
                                200: function () {
                                },
                                404: function () {
                                    alert("page not found");
                                },
                                401: function () {
                                    window.location = "{{ url_for('login',next='/event/'~event._id) }}";
                                }
                            },
                            success: function (jqXHR, textStatus, errorThrown) {
                                console.log(jqXHR, textStatus, errorThrown);
                                $("#invitee_list").html("<li>" + email_id + "</li>");
                            },
                            error: function (jqXHR, textStatus, errorThrown) {
                                console.log(jqXHR, textStatus, errorThrown);
                                console.log(result.responseJSON);
                                var obj = $("#invitee_list");
                                obj.html(obj.html() + "<li>" + email_id + "</li>")

                            }
                        });

                    }
                }),
                 $("#share-button").click(function(){
                     //window.location='google.co.in'
                    var url= 'whatsapp://send?text='+window.location.href;
                     //var url='whatsapp://send?text='+window.location.hostname+window.location.pathname
                     //val url='whatsapp://send?text='+window.location.hostname+'/event/{{event._id}}'
                     window.location=url;


                    //whatsapp://send?text=<<HERE GOES THE URL ENCODED TEXT YOU WANT TO SHARE>>" data-action="share/whatsapp/share
                }),

                $('#contri-button').click(function () {
                    var amount = {{ event.contri_amt }}
                            alert("Contribute amount " + amount);
                    var data = {
                        amount: amount
                    };
                    $.ajax({
                        type: "GET",
                        dataType: "json",
                        url: "{{ url_for('api_contribute', eventid = event._id) }}",
                        data: data,
                        statusCode: {
                            401: function () {
                                window.location = "{{ url_for('login',next='/event/'~event._id) }}";
                            }
                        },
                        success: function (jqXHR, textStatus, errorThrown) {
                            $("#invite-button").className += " mdl-button--disabled";
                            console.log(jqXHR, textStatus, errorThrown);
                            setTimeout(
                                    function () {
                                        location.reload();
                                    }, 0);
                        },
                        error: function (jqXHR, textStatus, errorThrown) {
                            console.log(jqXHR, textStatus, errorThrown);
                            console.log(result.responseJSON);
                        }
                    });
                })
        );

    </script>

{% endblock %}

