{% extends "grinions-base.html" %}

{% block page_title %}
    Who art thou ?
{% endblock %}

{% block main_content %}
    <!-- LOGIN -->

    <form action="" method="POST" class="login">
        <div class="mdl-cell--12-col mdl-grid" top-padding="100">
            <div class="mdl-cell">&nbsp;</div>
            <div class="mdl-grid mdl-cell--4-col">
                <div id="error" class="ae-alert-text"></div>
                <div class="mdl-textfield mdl-js-textfield mdl-cell-16-col">
                    <input class="mdl-textfield__input" type="text" id="email" name="email"/>
                    <label class="mdl-textfield__label" for="email">Email ID</label>
                </div>

                <div class="mdl-textfield mdl-js-textfield mdl-cell-16-col">
                    <input class="mdl-textfield__input" type="password" id="password" name="password"/>
                    <label class="mdl-textfield__label" for="password">Password</label>
                </div>

                <button class="mdl-button mdl-button--colored mdl-button--accent
               mdl-js-button mdl-js-ripple-effect mdl-button--raised">Log in
                </button>

            </div>
            <div class="mdl-cell ">&nbsp;</div>
        </div>
        <!-- SIGN UP -->
        <div class="mdl-grid mdl-cell--4-col">
            <table>
                <tr>&nbsp;
                    <td>
                        <div class="mdl-typography--text-center mdl-color-text--blue-grey-600 mdl" id="signup-slogan">
                            Not a part of the revolution yet ?
                        </div>
                    </td>
                    &nbsp;
                    <td></td>
                </tr>
                <tr>
                    <td></td>
                    <td>{# TODO: should redirect to create event page  #}
                        <a class="mdl-button mdl-button--colored mdl-button--accent
               mdl-js-button mdl-js-ripple-effect mdl-button--raised" href="{{ url_for('signup', next = redir_url) }}">Signup</a>
                    </td>
                </tr>
            </table>

        </div>
    </form>

    <script src="/static/js/init.js"></script>
    <script>
        $(".login").submit(function (e) {
            console.log("Login");
            e.preventDefault();
            //$('#result').hide();
            var erdata = {
                "input": "login"
            };
            var url = "";
            erdata = $(this).serialize() + "&" + $.param(erdata);
            $.ajax({
                type: "POST",
                dataType: "json",
                url: "{{ url_for('login_check') }}",
                data: erdata,
                success: function (result) {
                    $('#error').html(result);
                    console.log(result);
                    setTimeout(function () {
                        {% if redir_url %}
                            url = "{{ redir_url }}";
                        {% else %}
                            url = "{{ url_for('index') }}";
                        {% endif %}
                        window.location.href = url;
                    }, 0);
                },
                error: function (result) {
                    //$('#result').show();
                    $('#error').html(result.responseJSON);
                    console.log(result.responseJSON);

                }
            });
        });
    </script>

{% endblock %}
