<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js">
    </script>
    <script src="https://apis.google.com/js/client:platform.js?onload=start" async defer>
    </script>
</head>
<body>
<div id="signinButton">
    <span class="g-signin"
          data-scope="https://www.googleapis.com/auth/plus.login https://www.googleapis.com/auth/plus.profile.emails.read https://www.googleapis.com/auth/plus.me"
          data-clientid="133573698772-jmhkqdev9kb79q7epgcaihf2gtm49qpu.apps.googleusercontent.com"
          data-redirecturi="postmessage"
          data-accesstype="offline"
          data-cookiepolicy="single_host_origin"
          data-callback="signInCallback"
          data-approvalprompt="force">
    </span>
</div>
<div id="result"></div>

<script>
    function signInCallback(authResult) {
        if (authResult['code']) {

            // Hide the sign-in button now that the user is authorized, for example:
            $('#signinButton').attr('style', 'display: none');

            // Send the code to the server
            $.ajax({
                type: 'POST',
                url: '/gconnect?state={{ STATE }}',
                contentType: 'application/octet-stream; charset=utf-8',
                data: authResult['code'],
                success: function (result) {
                    // Handle or verify the server response.
                    if (result) {
                        $('#result').html('Login successful!<br/>' + result + '<br/>Redirecting...')
                        setTimeout(function () {
                            window.location.href = "/home";
                        }, 4000);

                    } else if (authResult['error']) {
                        console.log('there was an error: ' + authResult['error']);
                    }
                    else {
                        $('#result').html('Failed to make a server-side call. Check your configuration and console.');
                    }
                },
                processData: false

            });
        } else {
            // There was an error.
        }
    }
</script>
</body>
</html>