<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="The easiest way to pool money and make great things happen.">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %} Grinions {% endblock %}</title>

    <!-- Add to homescreen for Chrome on Android -->
    <meta name="mobile-web-app-capable" content="yes">
    <link rel="icon" sizes="192x192" href="http://grinions.com/static/images/logo_gr_small.png">

    <!-- Add to homescreen for Safari on iOS -->
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="apple-mobile-web-app-title" content="Grinions">
    <link rel="apple-touch-icon-precomposed" href="http://grinions.com/static/images/logo_gr_small.png">

    <!-- Tile icon for Win8 (144x144 + tile color) -->
    <meta name="msapplication-TileImage" content="http://grinions.com/static/images/logo_gr_small.png">
    <meta name="msapplication-TileColor" content="#3372DF">

    <!-- SEO: If your mobile URL is different from the desktop URL, add a canonical link to the desktop page https://developers.google.com/webmasters/smartphone-sites/feature-phones -->
    <!--
    <link rel="canonical" href="http://www.example.com/">
    -->
    <meta name="theme-color" content="#3372DF">

    <link href="https://fonts.googleapis.com/css?family=Roboto:regular,bold,italic,thin,light,bolditalic,black,medium&amp;lang=en"
          rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="http://grinions.com/static/css/material.min.css" media="screen,projection">
    <link rel="stylesheet" href="http://grinions.com/static/css/base_styles.css" media="screen,projection">
    <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.4.min.js"></script>

</head>
<body>


<div class="mdl-card mdl-shadow--4dp mdl-color--blue-grey-50">
    <div class="mdl-card__title">
        <h2 class="mdl-card__title-text" id="event_name"
            style="font-weight: 400; font-family:Roboto, sans-serif">You're Invited to {{ event_name }}</h2>
    </div>
    <div class="mdl-card__media" style="padding-left: 0">
        <img id="event_pic" src="http://grinions.com/static/images/people.jpeg" width="100%" height="100%" border="0"
             alt=""
             style="padding:0px; max-height: 200px">
    </div>
    <div class="mdl-card__supporting-text">
        <img href="http://grinions.com" align="middle" style="align-self: center"
             src="http://grinions.com/static/images/logo_gr_small.png"/><br>
        <span style="font-weight: 500">{{ user.first_name + " "+ user.last_name }} has invited you to contribute to an event.<br/>
    </span> <br><br>

        <a target="_blank" href="http://grinions.com/event/{{ event_id }}"
           class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent">Contribute</a><br/><br/>
        <span style="font-weight: 400">Grinions is a group funding platform, that's the easiest &amp; the most social way to collect money from your group for FREE. Invite you friends to chip in, track who has paid & make exciting events happen that YOU wanna have!</span>
    </div>

</div>


<br/>
<br/>
<span style="font-size: 10px">To stop receiving invitations from {{ user.first_name + " "+ user.last_name }} for {{ event_name }}, you can easily opt-out by going to <a
        href="http://grinions.com/">grinions.com</a></span>

<script src="http://grinions.com/static/js/material.min.js"></script>
</body>
</html>