{% extends "grinions-base.html" %}
{% block page_title %}
Newsfeed
{% endblock %}
{% block main_content %}
   {% if events %}
       <div>
       {% for event in events %}
    <div id="new" class="mdl-card mdl-shadow--4dp mdl-color--blue-grey-50" style="height: 200px">
       <div class="mdl-card__title">
          <a href="{{ url_for('view_event',eventid=event._id) }}"> <h2 class="mdl-card__title-text" id="event_name"
               style="font-weight: 400; font-family:Roboto, sans-serif">{{ event.event_name }}</h2></a>
       </div>
       <div class="mdl-card__supporting-text">
           Started by <span id="creator_name">{{ User.query.get(event.creator_id).fullname() }}</span> <br><br>
            End Date : <span id="end_date">{{ event.ends_by.strftime('%d %b %y') }}</span>
       </div>
    </div>
   <br>
              {% endfor %}
</div>
      {% endif %}
{% endblock %}