{% extends "grinions-base.html" %}

{% block page_title %}
    Signup
{% endblock %}

{% block main_content %}
    <script>


        window.fbAsyncInit = function () {
            FB.init({
                appId: '219300215069594',
                cookie: true,  // enable cookies to allow the server to access
                               // the session
                xfbml: true,  // parse social plugins on this page
                version: 'v2.3' // use version 2.2
            });
        };
        // Load the SDK asynchronously
        (function (d, s, id) {
            var js, fjs = d.getElementsByTagName(s)[0];
            if (d.getElementById(id)) return;
            js = d.createElement(s);
            js.id = id;
            js.src = "http://connect.facebook.net/en_US/sdk.js";
            fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));
    </script>

    <script src="https://apis.google.com/js/client:platform.js?onload=start" async defer>
    </script>

    <br/>

    <div id="result"></div>
    <form action="" method="POST" class="signup">
        <div id="error" class="ae-alert-text"></div>
        <table>
            <tr>
                <td>
                    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                        <input class="mdl-textfield__input" maxlength="" type="text" name="name"
                               id="name"
                               required/>
                        <label class="mdl-textfield__label" for="name">Full Name</label>
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                        <input class="mdl-textfield__input" maxlength="" type="email" name="email"
                               id="email"
                               required/>
                        <label class="mdl-textfield__label" for="email">Email</label>
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                        <input class="mdl-textfield__input" maxlength="30" type="password"
                               name="password"
                               id="password" required/>
                        <label class="mdl-textfield__label" for="password">Password</label>
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                        <input class="mdl-textfield__input" maxlength="30" type="password"
                               name="conf_password"
                               id="conf_password" required/>
                        <label class="mdl-textfield__label" for="conf_password">Confirm Password</label>
                    </div>
                </td>
            </tr>
            <tr>
                <td style="margin: 50px" style="align-content: center">
                    <button type="submit" id="signup"
                            class="mdl-button mdl-js-button mdl-button--raised mdl-button--accent">
                        Sign up
                    </button>
                </td>
            </tr>
            <tr>
                <td>
                    <fb:login-button scope="email, public_profile" onlogin="facebookLogin();">
                        <a href='javascript:facebookLogin()'>Signup with Facebook</a>
                    </fb:login-button>

                </td>
            </tr>

        </table>

    </form>


    <script src="/static/js/init.js"></script>
    <script>
        $(".signup").submit(function (e) {
            console.log("Login");

            e.preventDefault();
            $('#error').hide();
            var erdata = {
                "input": "signup"
            };
            erdata = $(this).serialize() + "&" + $.param(erdata);
            $.ajax({
                type: "POST",
                dataType: "json",
                url: "{{ url_for('signup_check') }}",
                data: erdata,
                success: function (result) {
                    //$('#error').html(result);
                    console.log(result);
                    setTimeout(function () {
                        {% if redir_url %}
                            url = "{{ redir_url }}";
                        {% else %}
                            url = "{{ url_for('view_create_event') }}";
                        {% endif %}
                        window.location.href = url;
                    }, 0);
                },
                error: function (result) {
                    $('#error').show();
                    $('#error').html(result.responseJSON);
                    console.log(result.responseJSON);

                }
            });
        });
        function facebookLogin() {
            FB.login(function (response) {
                        var access_token = response.authResponse.accessToken;
                        if (response.authResponse) {
                            console.log('Authenticated!');
                            $.ajax({
                                type: 'POST',
                                url: '/fbconnect?state={{ STATE }}',
                                processData: false,
                                data: access_token,
                                contentType: 'application/octet-stream; charset=utf-8',
                                success: function (result) {
                                    if (result) {
                                        $('#error').html('Login successful!<br/>').show();
                                        setTimeout(function () {
                                            {% if redir_url %}
                                                redir = "{{ redir_url }}";
                                            {% else %}
                                                redir = "{{ url_for('view_create_event') }}";
                                            {% endif %}
                                            window.location.href = "{{ url_for('oauthlogin_check',next=redir_url) }}";
                                        }, 0);
                                    }
                                    else {
                                        $('#error').html('Failed to connect to FB.');
                                        console.log('Failed to connect to FB.');
                                    }
                                },
                                error: function (result) {
                                    console.log(result);
                                    alert(result.responseJSON);
                                    $('#error').html(result.responseJSON);
                                }
                            })
                        } else {
                            console.log('User cancelled login or did not fully authorize.');
                        }
                    },
                    {
                        scope: 'email,public_profile'
                    });
        }


    </script>

{% endblock %}8